@import url(common.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

.header {
    position: fixed;
    top: 0;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-text-light-background);
    width: 100%;
}

.header__logo {
    width: 500px;
}

.logo-apple {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

nav ul {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var( --decoration-line-color);
}

.main__form {
    display: block;
    text-align: center;
    margin-top: 100px;
}
.main__content-center {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.features {
    margin-top: 20px;
}

button {
    background-color: var( --decoration-line-color);
    border: none;
    padding: 4px;
    margin-top: 10px;
    width: 130px;
    height: 30px;
    font-weight: 1000;
    margin-bottom: 50px;
    cursor: pointer;
}

#email {
    padding: 5px;
    width: 220px;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

.grid-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    height: 125px;
    color: var( --decoration-line-color);
    font-size: 50px;
}

.video-content {
    width: 80%;
    height: 400px;
    margin: 0 auto;
}

.grid {
    display: flex;
}


.price-apple {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--color-text-light-background);
    padding: 15px 0px;
}

.tenor {
    width: 340px;
    height: auto;
    border: 2px solid black;
    align-items: center;
    font-size: 18px;
    margin: 12px;
    text-align: center;
    background-color: var(--color-text-dark-background);
}

.price-button {
    background-color: var(--decoration-line-color);
    font-weight: normal;
    margin: 15px;
    height: 40px;
    width: 100px;
}

.pricing {
    display: flex;
    flex-direction: row;

}

.footer li {
    list-style-type: none;
    padding: 0px 8px;
    color: var(--decoration-line-color);
}

.footer ul,
.footer p {
    display: flex;
    justify-content: flex-end;
    color: var(--decoration-line-color);
}

.footer {
    background-color: var(--color-text-light-background);
    padding: 10px 15px;
    margin-top: 15px;
}
